.container {
    height: 100vh;
}

.info {
    display: flex;
    align-items: center;
}

.titulo {
    font-size: 3rem;
    margin: 1rem 0;
}

.addLoja {
    margin: 1rem;
}

.addLoja:hover {
    color: #E75C62;
}

.container > div > ul {
    display: flex;
    flex-direction: row;
}

.container > div > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E75C62;
    border-radius: 0.5rem;
}

.container > div > ul > li > p {
    padding: 0.75rem;
    color: white;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    cursor: pointer;
}

.icon:hover {
    color: #c2c2c2;
}
